.cookie-container {
  .cookie {
    &:hover {
      cursor: pointer;
    }
  }
  .upgrades-container{
    min-height: 50%;
  }
  
  .clickers-container{
    min-height: 50%;
  }
  .clicker {
    margin-top: 8px;
    border-top: 3px solid rgb(78, 67, 67);
    background-color: #eee;
    text-align: left;
  }
}
